// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bannerVideoWrapper {

    video {
        z-index: -1;
        position: relative;
    }

    .bannerVideoTitle {
        z-index: 0;
        font-size: 45px;
        max-width: 350px;
        color: white;
        -webkit-text-stroke: 1px black;
        position: absolute;
        top: 24rem;
        left: 6rem;
    }

}

