// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bannerVideoWrapper {

    .gradientWrapper {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        z-index: 0;

        video {
            z-index: -1;
            position: relative;
        }
    }

    .muteButton {
        position: absolute;
        font-size: 2rem;
        top: 35vw;
        right: 15vw;
        z-index: 1;
        cursor: pointer;
    }

    .videoDetailsContainer{
        color: #fff;
        font-weight: 400;
        line-height: normal;
        width: 80vw;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
        position: absolute;
        top: 17vw;
        left: 3.5vw;

        p {
            margin: 1vw 0 1vw;
            font-size: 1.4vw;
            font-weight: 600;
        }

        .bannerVideoTitle {
            font-size: 3.5vw;
            max-width: 31.5vw;
        }

        .bannerVideoDescription {
            font-size: 1.3vw;
            max-width: 35vw;
            font-weight: 350;
        }

        .buttonsWrapper {
            display: flex;
            flex-direction: row;
            margin-top: 2vw;

            .playButton {
                background-color: white;
                color: black;
                height: 42px;
                width: 127px;
                font-size: 21px;
                border-radius: 4px;
            }

            .playButton:hover {
                background-color: rgba(255, 255, 255, .7);
            }

            .addToListButton {
                background: rgba(109, 109, 110, 0.7);
                border-radius: 4px;
                height: 42px;
                width: 155px;
                font-size: 17px;
               
           
                .svg-icon {
                    transform: rotate(45deg);
                    width: 1.5vw;
                }

                span {        
                    float: right;
                    margin: .3vw 0 0 0;
                }
            }

            .addToListButton:hover {
                background: rgba(80, 80, 80, 0.7);
            }
        }
    }



}

