.footer {
    border-top: 8px solid #222;
    height: 7rem;

    .contactLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .contactIcon {
            font-size: 3.5rem;
            height: auto;
            margin: 1rem 1rem 1rem 1rem;
            color: rgb(128, 119, 119);
            transition: all .2 ease;
        }

        .contactIcon:hover {
            transform: scale(1.2);
        }
    }
}
