.carousel {
        
    p {
        color: #e5e5e5;
        font-size: 24px;
        font-weight: 500;
        padding: 2rem 0 .5rem .5rem;
    }
        
    .swiper-container {
        width: 100%;
        height: fit-content;
        position: relative;
        z-index: 0;
        padding: 0 2.5vw 0 2.5vw;

        .swiper-button-prev, 
        .swiper-button-next {
            font-family: swiper-icons;
            color: white;
            height: 11vw;
            width: 70px;
            position: absolute;
            text-decoration: none;
            text-align: center;
            top: 0;
            z-index: 4;
            opacity: 0;
            transition: .2s;
        }
        
        .swiper-button-prev {
            left: 0;
        
            &:after {
                content: 'prev';
                font-size: 30px;
            }

            &:hover {
                background: rgba(0, 0, 0, .5);
                font-size: 40px;
            }
        }
        
        .swiper-button-next {
            right: 0;
        
            &:after {
                content: 'next';
                font-size: 30px;
            }

            &:hover {
                background: rgba(0, 0, 0, .5);
                font-size: 40px;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: rgba(0, 0, 0, 0);
            z-index: 1;
            
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide:hover {
            z-index: 3;
        }
    } 
}

.carousel:hover {
    .swiper-button-prev,
    .swiper-button-next {
        opacity: 1;
    }

}






