:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul  {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

    // relates to the font size set up in the html root. Usually 1 rem = 16 pixels
p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.splashPage {
    width: 100%;
    height: 93vh;
    // viewport Height, the height of the window. Takes up 93 slices of whatever 100 slices of the viewport
    position: relative;
    background: image-url('background.jpg') no-repeat center center/cover;
}

.splashPageTop {
    position: relative;
    height: 90px;
    .logo {
        width: 170px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


