.listComponent {

    .listVideosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25vh 0 25vh 0;

        .videoTile {
            // margin: 50vh;

            .carouselVideo {
                // width: 200vh;
            }

    
            &:hover {
                z-index: 3;

            }
        }
    }

}


.empty {

    p {
        font-size: 25px;
        margin: 10vh 35% 0 35%;
    }
    .footer {
        margin: 50vh 0 0 0;
    }
}

