.listComponent {

    .listVideosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin: 4rem auto;
        padding-top: 1em;
        justify-content: center;
        align-items: center;

        .videoSlideContainer {
            margin-top: 3vw;
            margin-bottom: 3vw;

            .muteButton {
                position: absolute;
                top: 4vw;
                right: 2vw;
                z-index: 3;
                visibility: hidden;
            }


            &:hover {

                .carouselVideo {
                    z-index: 4;
                }

                .videoDropDown {
                    z-index: 4;
                }

                .muteButton {
                    visibility: visible;
                }
            }
        }



    
    }

    .footer {
        width: 100%;
        margin-top: 20vw;
    }

}


.empty {


    p {
        position: relative;
        margin: 4rem auto;
        padding-top: 10vw;
        align-items: center;
        text-align: center;
        width: 44vw;
        font-size: 2vw;
    }
}

