.listComponent {

    .listVideosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25vh 0 25vh 0;

        .videoSlideContainer {
            margin-top: 3vw;
            margin-bottom: 3vw;

            .muteButton {
                position: absolute;
                top: 4vw;
                right: 2vw;
                z-index: 3;
                visibility: hidden;
            }


            &:hover {

                .carouselVideo {
                    z-index: 4;
                }

                .videoDropDown {
                    z-index: 4;
                }

                .muteButton {
                    visibility: visible;
                }
            }
        }



    
    }

}


.empty {

    p {
        font-size: 25px;
        margin: 10vh 35% 0 35%;
    }
    .footer {
        margin: 50vh 0 0 0;
    }
}

