.loginPage {
    height: 120vh;
    // viewport Height, the height of the window. Takes up 93 slices of whatever 100 slices of the viewport
    position: relative;
    background: image-url('background.jpg') no-repeat center center/cover;

    .shadowDiv {
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset -1rem -3rem 10rem black;

        .pageHeader {
            position: relative;
            height: 90px;
            z-index: 2;
    
            .logo {
                width: 155px;
                position: absolute;
                top: 30%;
                right: 85%;
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translate(-50%, -50%);
            }
    
            #login {
                display: none;
            }
        }
    
        .loginPageContent {
            position: relative;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 9rem 30rem 0 30rem;
            z-index: 2;
            background-color:rgba(0, 0, 0, 0.7);
    
            h1 {
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 1.1;
                margin: 50px 0 30px;
            }
    
            p {
                color: #fff;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 1.25rem;
                margin: 0 0 2rem;
            }
    
            h4 {
                margin: 0 0 1rem;
                font-size: 1.2rem;
                font-weight: 400;
            }
            
            input {
                width: 315px;
                height: 50px;
                background: #333;
                color: #fff;
                margin: 0 0 40px;
                border-radius: 4px;
                border: none;
            }
        }
    
        .footer {
            margin: 20rem 0 0 0;
            border-top: none;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 3;
        }
    }

}

