

.pageHeader {
    position: relative;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .logo {
        width: 155px;
    }

    #login {
        height: 30px;
    }

    //The following only pertains to header when logged in:

    .subNavi {
        margin: 0 0 0 2rem;
    }

    .profilePic {
        height: 35px;
        border-radius: 5px;
    }
}

.loggedIn {
    position: fixed;
    top: 0;
    height: 70px;
    padding: 18px;
    transition: 0.5s;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    .firstSection {
        display: flex;
        flex-direction: row;
        align-items: center;

        .headerLink {
            margin: 0 10px 0 0;
            transition: 0.2s
        }

        .headerLink:hover {
            color: rgb(172, 169, 169);
        } 
    }

    .logo {
        width: 140px;
    }

    .secondSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 2rem;
        z-index: 3;

        #downCaret {
            font-size: 1.5rem;
            margin: 0 0 10px 5px;
            transition: .3s;
            color: white;
        }

        .profileDropdown {
            position: absolute;
            top: 3.5rem;
            right: 2.5rem;
            z-index: 3;
            cursor: pointer;
            font-size: 1rem;
            visibility: hidden;
            background: rgba(0, 0, 0, .8);
            padding: 0 1rem 1rem 1rem;
            border: 1px solid rgb(77, 75, 75);
            transition: .2s;

            .dropdownItem {
                color: white;
                font-weight: 500;
                padding: .3rem;
            }

            .secondToLast {
                border-bottom: 1px solid grey;
                padding-bottom: 10px;
            }

            .last {
                padding-top: 15px;
            }
        }
    }

    .secondSection:hover {

        #downCaret {
            transform: rotate(180deg);
        }
        .profileDropdown {
            visibility: visible;

        }
    }
    .dropdownItem:hover {
        text-decoration: underline;
    }
}


.loggedIn.active {
    background: #000;
}


