

.pageHeader {
    position: relative;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .logo {
        width: 155px;
    }

    #login {
        height: 30px;
    }

    //The following only pertains to header when logged in:

    .subNavi {
        margin: 0 0 0 2rem;
    }

    .profilePic {
        height: 35px;
        border-radius: 5px;
    }
}

.loggedIn {
    position: fixed;
    top: 0;
    height: 70px;
    padding: 18px;
    transition: 0.5s;

    .firstSection {
        display: flex;
        flex-direction: row;
        align-items: center;

        .headerLink {
            margin: 0 10px 0 0;
        }
    }

    .logo {
        width: 140px;
    }
}

.loggedIn.active {
    background: #000;
}