.signupPage {
    background-color: white;
    height: 100vh;

    h1, h2 {
        color: black;
        font-size: 23px;
        font-weight: 700;
    }

    h2 {
        font-weight: 400;
    }

    .pageHeader {
        border-bottom:1px solid rgb(209, 207, 207);

        #login {
            background: white;
            color: rgb(63, 63, 63);
            font-size: 1.2rem;
            font-weight: bold;
        }
        #login:hover {
            text-decoration: underline;
        }
    }

    form {

        input {
            height: 60px;
            width: 440px;
            margin: 15px 0 0 0;
        }

        button {
            margin: 30px 0 0 0;
            height: 60px;
            width: 440px;
            border-radius: 5px;
        }
    }

    .signupContent {
        text-align: left;
        margin: 5rem 0 9rem 33%;
        z-index: 2;
    }

    .footer {
        background: rgb(235, 233, 233);
        border-top: 1px solid rgb(194, 193, 193);
    }
}