.signupPage {
    background-color: white;
    height: 100vh;

    .pageHeader {
        border-bottom:1px solid rgb(209, 207, 207);

        #login {
            background: white;
            color: rgb(63, 63, 63);
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .signupContent {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 9rem;
        z-index: 2;
        color: black;
    }
}