:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul  {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

    // relates to the font size set up in the html root. Usually 1 rem = 16 pixels
p {
    margin: 0.5rem 0;
}

.splashPage {
    width: 100%;
    height: 85vh;
    // viewport Height, the height of the window. Takes up 93 slices of whatever 100 slices of the viewport
    position: relative;
    background: image-url('background.jpg') no-repeat center center/cover;

    .splashPageHeader {
        position: relative;
        height: 90px;
        z-index: 2;
    
        .logo {
            width: 155px;
            // position: absolute;
            // top: 30%;
            // right: 85%;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-50%, -50%);
        }
    
        #login {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
        }
    }

    .splashPageContent {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 9rem;
        z-index: 2;

        h1 {
            font-weight: 700;
            font-size: 3.1rem;
            line-height: 1.1;
            margin: 0 0 2rem;
        }

        p {
            color: #fff;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.25rem;
            margin: 0 0 2rem;
        }
        h4 {
            margin: 0 0 1rem;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

.splashPage::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset -1rem -3rem 10rem black;
}

.subsection {
    padding: 100px;
    border-top: 8px solid #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    
     h1 {
         font-weight: 700;
         font-size: 3.1rem;
         line-height: 1.1;
         margin: .75em 0 .25em;
     }

     p {
        color: #fff;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2rem;
        margin: .75em 0 .25em;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        max-width: 530px;
     }
}

.firstSubsectionContainer {
    margin: 100px 0 0 0;

}

.description {
    color: red;
}


.fourthSubsectionText {
    h1 {
        font-weight: 700;
        font-size: 3.1rem;
        line-height: 1.1;
        margin: 0 0 2rem;
    }

    h4 {
        margin: 3rem 0 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
    }

    .accordion {
        color: #fff;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
    
        .accordion__button {
            background-color:#303030;
            cursor: pointer;
            text-align: left;
            color: #fff;
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 4rem;
            width: 100%;
            margin: .2rem;
        
    
            .svg-icon {
                float: right;
                position: relative;
            }
    
            .svg-closed {
                transform: rotate(45deg);
            }
    
            .accordion__content {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.3s;
            }
        }
    }
    
    
}

.splashFooter {
    border-top: 8px solid #222;
    height: 7rem;

    .contactLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .contactIcon {
            font-size: 3.5rem;
            height: auto;
            margin: 1rem 1rem 1rem 1rem;
            color: rgb(128, 119, 119);
        }
    }
}




// button styling

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    margin-right: .5rem;
    outline: none;
    cursor: pointer;
}

.inputBar {
    font-size: 1.5rem;
    width: 24.5rem;
    height: 3.6rem;
}

.inputBar::placeholder {
    font-size: 1rem;
}


#login {
    border-radius: 5px;
}


#createAccount {
    font-size: 1.7rem;
    padding: 0.9rem 2.6rem;
    text-transform: uppercase;
}

#createAccount:hover {
    background:rgb(238, 38, 38)
}

#demoLogin {
    border-radius: 50px;
    margin: 1rem;
}

#demoLogin:hover {
    background: rgb(65, 64, 64);
}